
#root {
    justify-content: center;
}

.note-page {
	width: 90%;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
}


.note-title {
	font-size: 50px;
	font-weight: bold;
	/* border: none; */
	outline: none;
	
	height: 70px;
	line-height: 70px;
	padding: 0 12px;
	box-sizing: border-box;
	margin-bottom: 10px;
}


.buttons {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.buttons button {
	padding: 8px 12px;
	cursor: pointer;
}

.note-text {
	flex: 1;
	resize: none;
	padding: 10px;
	font-size: 16px;
}